@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --color-fondo:#34495E;
    --color-ventanas:#2C3E50;
    --color-texto:#F4F4F4;
    --font-family2: 'Montserrat', sans-serif;
    --font-family: 'JetBrains Mono', monospace;

}

*{
    font-family:var(--font-family);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

body::-webkit-scrollbar {
    display: none;
}

/* Estilos generales para la navbar */
.header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: all 500ms;
}

.navbar {
    width: auto; /* 30% del ancho de la pantalla */
    height: clamp(1.5rem,calc(3vw),5rem); /* Altura proporcional */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-ventanas);
    border-radius: 0 0 0.7rem 0.7rem;
    padding: 0 2.4vw;
}

/* Estilos para la lista de navegaci贸n */
.navbar ul {
    display: flex;
    gap: clamp(0.5rem,calc(1vw + 0.5rem),2rem);
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Elementos de la lista */
.navbar li {
    font-size: clamp(0.4rem,calc(1vw + 0.2rem),2rem); /* Tama帽o proporcional */
    transition: all 0.3s;
}

/* Enlaces dentro de la navbar */
.navbar a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: clamp(0.4rem,calc(1vw + 0.2rem),2rem); /* Tama帽o proporcional */
    transition: color 0.3s;
    font-weight: 600;
}

.navbar li:hover {
    transform: scale(1.1);
}

/* Bot贸n de cambio de tema */
.ch_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono dentro del bot贸n */
.ch_button i {
    font-size: clamp(0.5rem,calc(1vw + 0.2rem),2rem); /* Tama帽o proporcional */
    transition: all 0.3s;
}

#moon{
    display: none;
    color: var(--color-texto);
}

#sun{
    color: var(--color-texto);
}

.ch_button i:hover {
    transform: scale(1.1);
}

/*  Media query para cuando el ancho sea menor a 768px */
@media (max-width: 768px) {
    .navbar {
        width: 100vw; /* Ocupa el 100% del ancho */
        justify-content: center;
        box-sizing: border-box;
    }

    .navbar ul {
        padding: 0;
        margin: 0;
    }
}

.main{
    padding-top: 2.5vw;
}

.nombre{
    margin-top: min(4rem,5%);
    text-align: center;
    color: var(--color-texto);
    font-size: clamp(1rem,calc(2vw + 1rem),4rem); /*arreglar*/
    transform:translateX(-250px) ;
    opacity: 0;
    animation: slideLeft 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
    font-family: var(--font-family2) !important;
}

.dispo{
    text-align: center;
    margin: 2.1vw 0 3.2vw;
    color: var(--color-texto);
    font-size: clamp(0.4rem,1.3vw,4rem);
}

@media(max-width:768px){
    .dispo{
        margin: 4vw 0 6vw;
    }
    .main{
        padding-top: 7vw;
    }
}

.section1, .t_section, .c_section, .p_section, .con_section, .h_section{ 
    background-color:var(--color-ventanas) ;
    margin:auto;
    border-radius: 20px;
    color:var(--color-texto);
    text-align: center;
    max-width: 60vw;
    padding: min(1em, 1%);
    transform: translateY(50px);
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards;
}

.section1 .div1{
    border: dashed 2px var(--color-texto);
    border-radius: 0.5rem;
    padding: 5px;
    transition:all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 1rem;
    height: clamp(3rem,calc(3vw),5rem);
    gap: 1vw;
}

.section1 span i{
    font-size: clamp(1rem,calc(1vw + 0.5rem),2rem);
}

.section1 .div1 .estudiando {
    margin-bottom: 1rem;
    font-size: clamp(0.5rem,calc(1vw + 0.5rem),2rem);
    margin: 0;
}

.section1 .div1:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

.section1 p {
    text-align: justify; 
    hyphens: auto; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    line-height:clamp(1.35rem,calc(1vw + 1rem),2.5rem);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    font-size: clamp(0.8rem,calc(1vw + 0.2rem),2rem);
}

.section1 p span{ 
    border-radius: 5px;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
    font-weight: 600;
    transition: all 0.5s ease;
    font-size: clamp(0.8rem,calc(1vw + 0.2rem),2rem);
}

.python1, .sql, .mysql, .postgre, .django, .mongo{
    background-color:#3B82F6 ;
}

.python1:hover, .sql:hover, .mysql:hover, .postgre:hover, .django:hover, .mongo:hover{ 
    background-color:white ;
    color: #3B82F6;
}

.html, .css, .js, .react{ 
    background-color:#EC4899 ;
}

.html:hover, .css:hover, .js:hover, .react:hover{ 
    background-color:white ;
    color: #EC4899;
}

.python2, .numpy, .pandas, .matplo, .sea{ 
    background-color:#E85D04 ;
}

.python2:hover, .numpy:hover, .pandas:hover, .matplo:hover, .sea:hover{ 
    background-color:white ;
    color: #E85D04;
}

.git, .github, .work{ 
    background-color:#22C55E ;
}

.git:hover, .github:hover, .work:hover{ 
    background-color:white ;
    color: #22C55E;
}

/*FALTA HACER EL MEDIA QUERY DEL SECTION DE ARRIBA*/

.p_section{
    margin-top: 60px;
    background-color: var(--color-ventanas);
    max-width: 60%;
    height: auto;
}

.tec_used_proyect{
    color: var(--color-fondo);
    background-color: var(--color-texto);
    padding: clamp(0.05rem, 0.2vw, 0.2rem) clamp(0.2rem, 0.5vw, 0.5rem);
    border-radius: clamp(0.4rem, 0.4vw, 0.4rem);
    font-size: clamp(0.4rem, 0.6vw, 0.8rem);
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.tec_used_proyect i{
    font-size: clamp(0.4rem,calc(0.4vw + 0.4rem),1rem);
}

.used_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(0.25rem, 0.5vw, 1rem);
    padding: clamp(1rem, 2vw, 3rem);
}

#div_proyectos,.div_certificados,.div_habilidades,#div_contacto{
    display:flex;
    text-align: center;
    justify-content: center;
    gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
    border: dashed 2px var(--color-texto);
    border-radius: 0.5rem;
    padding:5px 10px 5px 10px;
    transition:all 0.3s;
    height: clamp(2rem,calc(3vw),5rem);
    align-items: center;
}

#div_proyectos:hover,.div_certificados:hover,.div_habilidades:hover,#div_contacto:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

#h2_proyectos,.h2_certificados,.h2_habilidades,.h2_contacto, #carp_icon,#c_ico,#h_ico, #cont_ico {
    font-size: clamp(0.6rem,calc(1vw + 0.5rem),2rem);
}

.div_titulo_proyectos,.div_titulo_habilidades,.div_titulo_certificados,.div_titulo_contacto{
    display:flex;
    gap: clamp(0.5rem, calc(1vw + 0.5rem), 1rem);
}

#lista_proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    list-style: none;
    padding: 0;
    margin-top: clamp(1rem,calc(1vw + 0.5rem),2rem);
    margin-bottom: clamp(1rem,calc(1vw + 0.5rem),2rem);
}

@media(max-width:768px){
    #lista_proyectos{
        grid-template-columns: 1fr;
    }
}

.contenedor_proyectos{
    margin-top: 20px;
    border: solid red 1px;
}

.proyectos{
    width: 100%;
    height: 350px;
    perspective: 1000px;
}

.proyectos:hover > .card_project{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card_project{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1000ms ease-in-out;
    transform-style: preserve-3d;
}

.front,
.back{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    overflow: hidden;
    cursor:default;
}

.front{
    background-image: url(https://images.unsplash.com/photo-1523437113738-bbd3cc89fb19?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem,calc(1vw + 0.5rem),1rem);
}

#p1_f{
    background-image: url('./assets/p1_f.png');
}

#p2_f{
    background-image: url("https://ncube.com/wp-content/uploads/2020/02/shutterstock_1134885563-1.jpg");
}

#p3_f{
    
}

#p4_f{
    
}

#p1_b{
    background-image:url("https://polisantafe.com.ar/wp-content/uploads/que-son-las-estrellas-por-que-brillan.webp") ;
}

#p2_b{
    background-image:url("https://img.freepik.com/free-vector/neon-grid-background_53876-91657.jpg?t=st=1742006509~exp=1742010109~hmac=7a64712a856dec7bb458337b1f9c6544784aa8ce2fba38bd30349a0f19981691&w=996");
}

#p3_b{
    
}

#p4_b{
    
}


@media(max-width:768px){
    #proyecto_3, #proyecto_4{
        display:none;
    }
}

.project_name_div {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Separaci贸n m铆nima */
}

.project_name_div i{
    padding: 0;
    margin: 0;
    font-size: clamp(0.8rem,calc(0.6vw + 0.3rem),1.2rem);
}

.project_name{
    font-size: clamp(1.6rem,calc(1vw + 1.5rem),5rem);
    margin: 0;
    color: var(--color-texto);
    margin-top: clamp(1rem, 5vw, 50px);
}

#tec_icon{
    font-size: clamp(1.5rem,calc(1vw + 0.5rem),2rem);
    color: var(--color-texto);
}

.tec_img{
    width: clamp(1.5rem,calc(1vw + 0.5rem),2rem);
    height: clamp(1.5rem,calc(1vw + 0.5rem),2rem);
}

.back{
    background-size: contain;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.resume{
    height: 80%;
    width: 90%;
    text-align: justify; 
    hyphens: auto; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),3rem);
}

.contenedor_botones_back{
    display: flex;
    justify-content: center;
    gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
}


.go{
    background: none;
    box-shadow: none;
    border: none;
    text-decoration: underline;
    color: var(--color-texto);
    cursor: pointer;
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),2rem);
}

.a_go{
    text-decoration: none;
    transition: all 0.5s;
}

.a_go:hover{
    font-weight: bold;
    transform: scale(1.1);
}

.boton_mostrar_todos{
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    color: var(--color-texto); 
    cursor: pointer; 
    transition: all 0.2s;
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),2rem);
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.boton_mostrar_todos:hover{
    transform: scale(1.1);
    font-weight: 1000;
}

.h_section, .c_section{
    margin-top: 60px;
    background-color: var(--color-ventanas);
    max-width: 60%;
    height: auto;
    margin-bottom: 60px;
    overflow: hidden;
}


.titulo_c, .titulo_h{
    font-size: 30px;
    border: dashed 2px var(--color-texto);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    height: clamp(2.5rem,calc(3vw),5rem);
    font-size: clamp(0.6rem,calc(1vw + 0.5rem),2rem);
    align-items: center;
}

.titulo_c:hover, .titulo_h:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

.contenedor_habilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(0.25rem, 0.5vw, 1rem);
    margin-top: clamp(0.5rem,calc(0.5vw + 0.25rem),1rem);
    margin-bottom: clamp(0.5rem,calc(0.5vw + 0.25rem),1rem);
    padding: clamp(0.2rem, 1vw, 10px);
    text-align: justify;
}

.skill{
    background-color: var(--color-fondo);
    padding: clamp(0.2rem, 0.4vw, 0.4rem) clamp(0.4rem, 0.8vw, 0.8rem);
    border-radius: clamp(0.5rem, 0.5vw, 0.5rem);
    font-size: clamp(0.5rem, 0.75vw, 1rem);
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
}

.skill:hover{
    transform: scale(1.05);
    color: var(--color-fondo);
    background-color: var(--color-texto);
    cursor: pointer;
}

.skill i{
    font-size: clamp(0.5rem,calc(0.5vw + 0.5rem),1rem);
}

.h3_habilidades{
    font-size: clamp(0.3rem,calc(1vw + 0.2rem),2rem);
}

.titulo_certificado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.certificados_ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: clamp(0.5rem, 1vw, 2rem) clamp(0.5rem, 1vw, 2rem);
}

.certificados_li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: clamp(0.5rem, 1vw, 1rem) 0;
}

.certificados_h2{
    font-size: clamp(0.7rem, 1.2vw, 1.5rem);
}

.certificados_p{
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

.certificados_a{
    text-decoration: underline;
    cursor: pointer;
    font-size: clamp(0.3rem,calc(0.6vw + 0.1rem),1rem);
    transition: all 0.5s;
    color: var(--color-texto);
}

.certificados_a:hover{
    font-weight: bold;
    transform: scale(1.1);
}

.con_section{
    margin-top: 60px;
    background-color: var(--color-ventanas);
    max-width: 60%;
    height: auto;
    margin-bottom: 60px;
    overflow: hidden;
}

.titulo_contacto{
    font-size: 30px;
    border: dashed 2px var(--color-texto);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    height: clamp(2.5rem,calc(3vw),5rem);
    font-size: clamp(0.6rem,calc(1vw + 0.5rem),2rem);
    align-items: center;
}

.titulo_contacto:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

.contenedor_botones{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    column-gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
    row-gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
    margin-top: clamp(1rem, 4vw, 30px);
    margin-bottom: clamp(1rem, 4vw, 30px);
}


.span_contacto_grande{
    background-color: var(--color-fondo);
    border-radius: 10px;
    padding: clamp(0.2rem, 1vw, 0.5rem) clamp(0.5rem, 2vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.25rem, 0.5vw, 1rem);
    cursor: pointer;
    transition: all 0.3s;
    color: var(--color-texto);
    font-weight: bold;

}

.span_contacto_grande:hover{
    background-color: var(--color-texto);
    color: var(--color-fondo);
    transform: scale(1.05);
}

.p_contacto{
    font-size: clamp(0.4rem,calc(0.8vw + 0.1rem),1.5rem);
}

.i_contacto{
    font-size: clamp(0.8rem,calc(0.8vw + 0.4rem),1.5rem);
}

.i_contacto_chico{
    display: none!important;
    transition: all 0.3s;
}

.i_contacto_chico:hover{
    transform: scale(1.1);
}



@media(max-width:425px){
    .span_contacto_grande{
        display: none;
    }
    .i_contacto{
        display: none;
    }
    .p_contacto{
        display:none;
    }
    .i_contacto_chico{
        display: block !important;
    }   

}



@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    70% {
        transform: translateX(20px); /* Sobrepasa la posici贸n final */
    }
    85% {
        transform: translateX(-10px); /* Rebote hacia atr谩s */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media(max-width:768px){
    .section1, .t_section, .c_section, .p_section, .con_section, .h_section{
        width: 100vw;
        max-width: 100vw;
    }
}