@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=DM+Serif+Display:ital@0;1&display=swap');

:root{
    --color-fondo:#ffc8b4;
    --color-ventanas:#dfbda5;
    --color-texto:#5b5365;

}

*{
    font-family:"Atkinson Hyperlegible Mono", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

body::-webkit-scrollbar {
    display: none;
}

/* Estilos generales para la navbar */
.header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1000;
    transition: all 500ms;
}

.navbar {
    width: 30vw; /* 30% del ancho de la pantalla */
    height: 2.5vw; /* Altura fija */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-ventanas);
    border-radius: 0 0 10px 10px;
    padding: 0 2.4vw;
}

/* Estilos para la lista de navegaci贸n */
.navbar ul {
    display: flex;
    gap: 1.5vw; /* Espaciado proporcional */
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Elementos de la lista */
.navbar li {
    font-size: 1vw; /* Tama帽o proporcional al ancho de la pantalla */
    transition: all 0.3s;
}

/* Enlaces dentro de la navbar */
.navbar a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1vw; /* Mantiene la proporcionalidad */
    transition: color 0.3s;
    font-weight: 600;
}

.navbar li:hover {
    transform: scale(1.1);
}

/* Bot贸n de cambio de tema */
.ch_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icono dentro del bot贸n */
.ch_button i {
    font-size: 1vw; /* Se mantiene proporcional */
    transition: all 0.3s;
}

#sun{
    display: none;
}

.ch_button i:hover {
    transform: scale(1.1);
}

/*  Media query para cuando el ancho sea menor a 768px */
@media (max-width: 768px) {
    .navbar {
        width: 100vw; /* Ocupa el 100% del ancho */
        padding: 0 5vw;
        justify-content: space-evenly;
        box-sizing: border-box;
        height: 7vw;
    }

    .navbar ul {
        gap: 5vw;
        padding: 0;
        margin: 0;
    }

    .navbar li,
    .navbar a {
        font-size: 3vw; /* Agranda los textos para pantallas peque帽as */
    }

    .ch_button {
        font-size: 3vw; /* Ajusta tama帽o del bot贸n */
    }

    .ch_button i {
        font-size: 3vw; /* Icono proporcional */
    }
}

.main{
    padding-top: 2.5vw;
}

.nombre{
    /*margin-top: 4.2vw;*/
    margin-top: min(4rem,5%);
    text-align: center;
    color: var(--color-texto);
    font-size: clamp(1rem,calc(2vw + 1rem),4rem); /*arreglar*/
    transform:translateX(-250px) ;
    opacity: 0;
    animation: slideLeft 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
}

.dispo{
    text-align: center;
    margin: 2.1vw 0 3.2vw;
    color: var(--color-texto);
    font-size: clamp(0.4rem,1.3vw,4rem);
}

@media(max-width:768px){
    .dispo{
        margin: 4vw 0 6vw;
    }
    .main{
        padding-top: 7vw;
    }
}

.section1, .t_section, .c_section, .p_section, .con_section{
    background-color:var(--color-ventanas) ;
    margin:auto;
    border-radius: 20px;
    color:var(--color-texto);
    text-align: center;
    max-width: 60vw;
    padding: min(1em, 1%);
    transform: translateY(50px);
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards;
}

.section1 .div1{
    border: dashed 2px var(--color-texto);
    border-radius: 0.5rem;
    padding: 5px;
    transition:all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 1rem;
    height: clamp(3rem,calc(3vw),5rem);
    gap: 1vw;
}

.section1 span i{
    font-size: clamp(1rem,calc(1vw + 0.5rem),2rem);
}

.section1 .div1 .estudiando {
    margin-bottom: 1rem;
    font-size: clamp(0.5rem,calc(1vw + 0.5rem),2rem);
    margin: 0;
}

.section1 .div1:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

.section1 p {
    text-align: justify; 
    hyphens: auto; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    line-height:clamp(1.35rem,calc(1vw + 1rem),2.5rem);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    font-size: clamp(0.8rem,calc(1vw + 0.2rem),2rem);
}

.section1 p span{ 
    border-radius: 5px;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
    font-weight: 600;
    transition: all 0.5s ease;
    font-size: clamp(0.8rem,calc(1vw + 0.2rem),2rem);
}

.python1, .sql, .mysql, .postgre, .django, .mongo{
    background-color:#3B82F6 ;
}

.python1:hover, .sql:hover, .mysql:hover, .postgre:hover, .django:hover, .mongo:hover{ 
    background-color:white ;
    color: #3B82F6;
}

.html, .css, .js, .react{ 
    background-color:#EC4899 ;
}

.html:hover, .css:hover, .js:hover, .react:hover{ 
    background-color:white ;
    color: #EC4899;
}

.python2, .numpy, .pandas, .matplo, .sea{ 
    background-color:#E85D04 ;
}

.python2:hover, .numpy:hover, .pandas:hover, .matplo:hover, .sea:hover{ 
    background-color:white ;
    color: #E85D04;
}

.git, .github, .work{ 
    background-color:#22C55E ;
}

.git:hover, .github:hover, .work:hover{ 
    background-color:white ;
    color: #22C55E;
}

/*FALTA HACER EL MEDIA QUERY DEL SECTION DE ARRIBA*/

.p_section{
    margin-top: 60px;
    background-color: var(--color-ventanas);
    max-width: 60%;
    height: auto;
}

#div_proyectos{
    display:flex;
    text-align: center;
    justify-content: center;
    gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
    border: dashed 2px var(--color-texto);
    border-radius: 0.5rem;
    padding:5px 10px 5px 10px;
    transition:all 0.3s;
    height: clamp(2rem,calc(3vw),5rem);
    align-items: center;
}



#div_proyectos:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

#h2_proyectos, #carp_icon {
    font-size: clamp(0.6rem,calc(1vw + 0.5rem),2rem);
}

#h2_proyectos{
    margin-left: 1rem;
}

#div_proyectos_inside, .div_titulo_proyectos{
    display:flex;
}

#lista_proyectos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    list-style: none;
    padding: 0;
    margin-top: clamp(1rem,calc(1vw + 0.5rem),2rem);
    margin-bottom: clamp(1rem,calc(1vw + 0.5rem),2rem);
}

@media(max-width:768px){
    #lista_proyectos{
        grid-template-columns: 1fr;
    }
}

.contenedor_proyectos{
    margin-top: 20px;
    border: solid red 1px;
}

.proyectos{
    width: 100%;
    height: 350px;
    perspective: 1000px;
}

.proyectos:hover > .card_project{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card_project{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1500ms ease-in;
    transform-style: preserve-3d;
}

.front,
.back{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    overflow: hidden;
}

.front{
    background-image: url(https://images.unsplash.com/photo-1523437113738-bbd3cc89fb19?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem,calc(1vw + 0.5rem),1rem);
}

#p1_f{
    background-image: url('./assets/p1_f.png');
}


.project_name{
    font-size: clamp(1.6rem,calc(1vw + 1.5rem),5rem);
    margin: 0;
    color: var(--color-texto);
}

#tec_icon{
    font-size: clamp(1.5rem,calc(1vw + 1rem),2rem);
    color: var(--color-texto);
}

.back{
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.resume{
    height: 80%;
    width: 90%;
    text-align: justify; 
    hyphens: auto; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),3rem);
}

.go{
    background: none;
    box-shadow: none;
    border: none;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),2rem);
}

.boton_mostrar_todos{
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    color: var(--color-texto); 
    cursor: pointer; 
    transition: all 0.1s ease 0s;
    margin-bottom: clamp(1rem,calc(1vw + 0.5rem),2rem);
    background-color: var(--color-fondo);
    padding: 0.6rem 0.35rem 0.6rem 0.35rem;
    border-radius: clamp(0.5rem,calc(1vw + 0.5rem),2rem);
    font-size: clamp(0.75rem,calc(1vw + 0.05rem),2rem);
}

.boton_mostrar_todos:hover{
    transform: scale(1.1);
}


.con_section{
    margin-top: 60px;
    background-color: var(--color-ventanas);
    max-width: 60%;
    height: auto;
    margin-bottom: 60px;
    overflow: hidden;
}

.titulo_contacto{
    font-size: 30px;
    border: dashed 2px var(--color-texto);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    height: clamp(2.5rem,calc(3vw),5rem);
    font-size: clamp(0.6rem,calc(1vw + 0.5rem),2rem);
    align-items: center;
}

.titulo_contacto:hover{
    background-color:var(--color-texto) ;
    color:var(--color-ventanas);
    transform: scale(1.01);
    border-color: transparent;
}

.contenedor_botones{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    column-gap: clamp(1.5rem,calc(1vw + 0.5rem),2rem);
    row-gap: clamp(1rem,calc(1vw + 0.5rem),2rem);
    margin-top: 30px;
    margin-bottom: 30px;
}


.contenedor_botones i{
    font-size: clamp(2rem,calc(1vw + 0.5rem),2rem);
}


@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    70% {
        transform: translateX(20px); /* Sobrepasa la posici贸n final */
    }
    85% {
        transform: translateX(-10px); /* Rebote hacia atr谩s */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media(max-width:768px){
    .section1, .t_section, .c_section, .p_section, .con_section{
        width: 100vw;
        max-width: 100vw;
    }
}